<ion-content>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="project-list-container">
      <div class="top-nav">
        <button class="btn btn-primary new-project" (click)="createNewProject()"> New Project</button>
        
        <!-- <div class="add-project"> 
          <button (click)="createNewProject()" mat-mini-fab color="primary" aria-label="add project">
            <mat-icon aria-hidden="false" aria-label="add">add</mat-icon>
          </button>
        </div> -->
      </div>
      <mat-tab-group>
          <mat-tab *ngFor="let tab of allTabs" class="dot-active">
              <ng-template mat-tab-label>
                {{tab.tabName}}
                <span class="custom-mat-badge {{tab.tabId}}">{{ (allProjects | projectFilter:tab.statusName).length }}</span>
              </ng-template>
              <filtered-project-list [allProjects]="allProjects | projectFilter:tab.statusName"></filtered-project-list>
          </mat-tab>
      </mat-tab-group>
    </div>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/projects/create">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>